body {
    background-color: blue;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-holder{
    margin: 1%;
    padding: 2%;
    width: 400px;
    border: 2px solid slategray;
    text-align: center;
}